<html>
    <head>
    	<title>Scrape</title>
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/two.js/0.3.0/two.min.js‏"></script>-->
    </head>
    <body>
    	<style type="text/css">body{padding: 0; margin: 0;}</style>
        <script type="text/javascript">
        var data={{data|safe}}
		var renderer = new THREE.WebGLRenderer({antialias: true});
		width = document.body.clientWidth;
		height = document.body.clientHeight;
      	renderer.setSize(width, height);
      	document.body.appendChild(renderer.domElement);
      	renderer.setClearColorHex(0xEEEEEE, 1.0);
      	renderer.clear();
      	var camera = new THREE.PerspectiveCamera(45, width/height, 1, 10000);
		camera.position.z = 300;
		var scene = new THREE.Scene();
		//var cube = new THREE.Mesh(new THREE.CubeGeometry(50,50,50),
		//scene.add(cube);
		
		var light = new THREE.SpotLight();
      	light.position.set( 100, 100, 50 );
	    // enable shadows for a light
	    light.castShadow = true;
	    scene.add(light);

		rend(data,0,0,0)
		// enable shadows on the renderer
      	renderer.shadowMapEnabled = true;

		renderer.render(scene, camera);

		function rend(d, dx, dy, dz){
			console.log(d)
			dim = 20
			chils = d['children-count']
			piece = new THREE.Mesh(new THREE.CubeGeometry(dim,dim,dim),new THREE.MeshLambertMaterial({color: 0xFFFFFF}))
			piece.position.x = -dx
			piece.position.y = -dy
			piece.position.z = -dz
			// enable shadows for an object
      		piece.castShadow = true;
      		piece.receiveShadow = true;
			scene.add(piece)

			if (chils>0){
				count=0
				for (c in d.children){
					console.log(c)
					count ++;
					cx= dx+dim/2 + Math.random()*dim/2
					cy= dy+dim/2 + Math.random()*dim/2
					cz= dz+dim/2 + Math.random()*dim/2
					rend(d.children[c], cx, cy, cz)
				}
			}
		}
		/* Mandelbrot 2D pseudocode
		For each pixel (Px, Py) on the screen, do:
		{
  			x0 = scaled x coordinate of pixel (scaled to lie in the Mandelbrot X scale (-2.5, 1))
  			y0 = scaled y coordinate of pixel (scaled to lie in the Mandelbrot Y scale (-1, 1))
			x = 0.0
			y = 0.0
			iteration = 0
			max_iteration = 1000
			while ( x*x + y*y < 2*2  AND  iteration < max_iteration )
			{
				xtemp = x*x - y*y + x0
			    y = 2*x*y + y0
			    x = xtemp
			    iteration = iteration + 1
			}
			color = palette[iteration]
			plot(Px, Py, color)
		}
 */

        </script>
    </body>
</html>